.comun-txt{
  background-color: #F1F1F1 !important;
  color:gray;
  margin-top: 30px;
  margin-bottom: 30px;
  
}

.btn-comunidad{
	background-color: #0F9D58 !important;
	color:white;
	font-style: bold;
	   
	    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}